In [ ]:
sport = ("cricket", "football", "tennis")
print(sport)
print(type(sport))

In [ ]:
sport = ("tennis")
print(sport)
print(type(sport))

sport = ("tennis",)
print(sport)
print(type(sport))

In [ ]:
my_tuple = ("cricket","foodball",1,-2)
print(my_tuple)

In [ ]:
sport = ("tennis","cricket", "football", "football")
print(sport)
x = list(sport)
print(x,type(x))
x[1] = "baseball"
print(x)

In [ ]:
nested_tuple = (("apple", "banana", "cherry"), [8, 4, 6], (True, False))
print(nested_tuple[1][1] , nested_tuple[2][0])

In [ ]:
my_tuple = {"tennis", "cricket", "football"}
print(my_tuple)
print(type(my_tuple))
print(len(my_tuple))

In [ ]:
my_tuple = {"tennis", "cricket", "football","tennis"}
print(my_tuple)
print(type(my_tuple))
print(len(my_tuple))
# not supports duplicate values

In [ ]:
my_tuple = {"tennis", "cricket", "football"}
my_tuple.add("baseball")
print(my_tuple)
print(type(my_tuple))
print(len(my_tuple))
# add new value for sets

In [ ]:
my_sets = {"tennis", "cricket", "football","tennis"}
my_sets.update(["golf","baseball"])
print(my_sets)
print(type(my_sets))
print(len(my_sets))
# update new values for the sets

In [ ]:
my_sets = {"tennis", "cricket", "football"}
my_sets.remove("tennis")
print(my_sets)
print(type(my_sets))
print(len(my_sets))
# remove values for the sets

In [ ]:
#range 
my_range = (3,7,11,15,19,23)
my_range = range(3,28,4)
print(my_range[0])
print(my_range[1])
print(my_range[2])
print(my_range[3])
print(my_range[4])
print(my_range[5])
print(my_range[6])
print(my_range)
print(type(my_range))

In [ ]:
range_1 = range(2,7)#print 2 to 6
print(range_1[0])
print(range_1[1])
print(range_1[2])
print(range_1[3])
print(range_1[4])

In [ ]:
range_1 = range(6) # print 0 to 5
print(range_1[0])
print(range_1[1])
print(range_1[2])
print(range_1[3])
print(range_1[4])
print(range_1[5])