def sum_of_numbers(a, b):
    sum = a + b
    return sum
print(sum_of_numbers(3, 5))  # Output: 8

In [1]:
def sum_of_numbers(a, b):
    sum = a + b
    return sum
print(sum_of_numbers(3, 5))  # Output: 8

8

def sum_of_squares(n):
    total = 0
    for i in range(1, n+1):
        total = total + i*i
    return total

print(sum_of_squares(5))

In [7]:
def sum_of_squares(n):
    total = 0
    for i in range(1, n+1):
        total +=  + i*i
    return total

print(sum_of_squares(5))

55

def add_corresponding_numbers(list1, list2):
    if len(list1) != len(list2):
        print("Lists must be of the same length.")
        return
    result = []
    for i in range(len(list1)):
        result.append(list1[i] + list2[i])
    return result

list1 = [1, 2, 3]
list2 = [4, 5, 6]
print(add_corresponding_numbers(list1, list2))

In [ ]:
def add_corresponding_numbers(list1, list2):
    if len(list1) != len(list2):
        print("Error: List are not equal length")
        return
    result = []
    for i in range(len(list1)):
        result.append(list1[i] + list2[i])
    return result

list1 = [1, 2, 3]
list2 = [4, 5, 6]
print(add_corresponding_numbers(list1, list2))

def add (a ,b=10):
    return a + b

print(add(5))  # Output: 15
print(add(5, 20))  # Output: 25
# print(add(5, 20,10))  # Error: too many positional arguments

In [ ]:
def add (a ,b=10):
    return a + b

print(add(5))  # Output: 15
print(add(5, 20))  # Output: 25
# print(add(5, 20,10))  # Error: too many positional arguments

15
25

# Q : 4 

def calculate_total(price, quantity=1, discount=0):
    total = price * quantity
    total_after_discount = total - (total * discount / 100)
    return total_after_discount

print(calculate_total(100))  
print(calculate_total(100, 2))  
print(calculate_total(100, 2, 10))

In [ ]:


def calculate_total(price, quantity=1, discount=0):
    total = price * quantity
    total_after_discount = total - (total * discount / 100)
    return total_after_discount

print(calculate_total(100))  
print(calculate_total(100, 2))  
print(calculate_total(100, 2, 10))

100.0
200.0
180.0

def calculate_total(price, quantity=1, discount=0):
    subtotal = price * quantity
    total = subtotal - (subtotal * discount/100)
    return total

calculate_total(100, 2, 10)  # Returns 180.0

In [ ]:
def calculate_total(price, quantity=1, discount=0):
    subtotal = price * quantity
    total = subtotal - (subtotal * discount/100)
    return total

calculate_total(100, 2, 10)  # Returns 180.0

# Keyword Arguments
# here the order of arguments does not matter

def add(x, y):
    return x + y

add(y=7, x=3)  # returns 10
add(x=4, y=6)  # returns 10

In [14]:
# Keyword Arguments
# here the order of arguments does not matter

def add(x, y):
    return x + y

add(y=7, x=3)  # returns 10
add(x=4, y=6)  # returns 10

10

def arbritrary_postitional_args(*args):
    print(args)
    print(type(args))

arbritrary_postitional_args(1, 2, 3, 4, 5)

In [15]:
def arbritrary_postitional_args(*args):
    print(args)
    print(type(args))

arbritrary_postitional_args(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)
<class 'tuple'>

def sum_numbers(*numbers):
    total = 0
    for num in numbers:
        total += num
    return total

print(sum_numbers(1, 2, 3))          # 6
print(sum_numbers(5, 10, 15, 20))    # 50
print(sum_numbers(100))  # 100

In [17]:
def sum_numbers(*numbers):
    total = 0
    for num in numbers:
        total += num
    return total

print(sum_numbers(1, 2, 3))          # 6
print(sum_numbers(5, 10, 15, 20))    # 50
print(sum_numbers(100))  # 100

6
50
100

def average_positive(*numbers):
    total = 0
    count = 0

    for num in numbers:
        if num > 0:
            total = total + num
            count = count + 1

    if count == 0:
        print("No positive numbers provided.")
        return 0
    else:
        return total / count


print(average_positive(1, -2, 3, 4, -5))
print(average_positive(-1, -2, -3))
print(average_positive(10, 20, 30))

In [25]:
def average_positive(*numbers):
    total = 0
    count = 0

    for num in numbers:
        if num > 0:
            total = total + num
            count = count + 1

    if count == 0:
        print("No positive numbers provided.")
        return 0
    else:
        return total / count


print(average_positive(1, -2, 3, 4, -5))
print(average_positive(-1, -2, -3))
print(average_positive(10, 20, 30))

2.6666666666666665
No positive numbers provided.
0
20.0

def arbritrary_postitional_args(**kwargs):
    print(kwargs)
    print(type(kwargs))

arbritrary_postitional_args(name="Alice", age=30, city="New York")

In [30]:
def arbritrary_postitional_args(**kwargs):
    print(kwargs)
    print(type(kwargs))

arbritrary_postitional_args(name="Alice", age=30, city="New York")

{'name': 'Alice', 'age': 30, 'city': 'New York'}
<class 'dict'>

def arbritrary_postitional_args(**kwargs):
    for key, value in kwargs.items():
        print(key, ":", value)

arbritrary_postitional_args(name="Alice", age=30, city="New York")

In [32]:
def arbritrary_postitional_args(**kwargs):
    for key, value in kwargs.items():
        print(key, ":", value)

arbritrary_postitional_args(name="Alice", age=30, city="New York")

name : Alice
age : 30
city : New York

def average_score(**scores):
    total = 0
    count = 0

    for subject, score in scores.items():
        total += score
        count += 1

    if count == 0:
        print("No scores provided.")
        return 0
    else:
        return total / count
print(average_score(Math=90, Science=80, English=85))
print(average_score())

In [36]:
def average_score(**kwargs):
    total = 0
    count = 0

    for  score in kwargs.values():
        total += score
        count += 1

    if count == 0:
        print("No Subject provided.")
        return 0
    else:
        return total / count
    
print(average_score(Math=90, Science=80, English=85))
print(average_score())

85.0
No Subject provided.
0

def absolute_value(num):
    if num >= 0:
        return num
    else:
        return -num
    
print(absolute_value(5))   # Output: 5

In [ ]:
def absolute_value(num):
    if num >= 0:
        return num
    else:
        return -num
    
print(absolute_value(5))

5

def find_square(x):
    return x * x

list_1 =[6,2,3,4]

result = map(find_square, list_1)
result_list = list(result)
print(result_list)

In [42]:
def find_square(x):
    return x * x

list_1 =[6,2,3,4]

result = map(find_square, list_1)
result_list = list(result)
print(result_list)

[36, 4, 9, 16]

In [62]:
def farenheit_to_celsius():

    def calculate_celsius(fahrenheit):
        return round((fahrenheit - 32) * 5.0/9.0, 2)
    
    

    farenheit_temp = [101,25,89,56,32,100]

    celsius_temp = map(calculate_celsius, farenheit_temp)

    print(list(celsius_temp))

farenheit_to_celsius()

[38.33, -3.89, 31.67, 13.33, 0.0, 37.78]

In [66]:
def add_numbers(x, y):
    return x + y

list1 = [1, 2, 3, 4]
list2 = [10, 20, 30, 40]

result = list(map(add_numbers, list1, list2))

print("The result is :",result)

The result is : [11, 22, 33, 44]

In [1]:
nums = [9, 5, 8, 12, 13]

def is_even(num):
    return num % 2 == 0

evens = list(filter(is_even, nums))
print(evens)

[8, 12]

In [2]:
def devide_by_three(num):
    return num % 3 == 0  and num % 5 != 0

numbers = [12,15,18,20,25,30,35]

print(list(filter(devide_by_three, numbers)))

[12, 18]

add = lambda x, y: x + y
print(add(5, 10))  # Output: 15

In [3]:
add = lambda x, y: x + y
print(add(5, 10))  # Output: 15

15

In [4]:
print((lambda a, b: a if a > b else b)(10, 20))

20



def get_square_of_list(numbers):
    return list(map(lambda x : x * x , numbers))

print(get_square_of_list([1, 2, 3, 4, 5]))

In [5]:


def get_square_of_list(numbers):
    return list(map(lambda x : x * x , numbers))

print(get_square_of_list([1, 2, 3, 4, 5]))

[1, 4, 9, 16, 25]

In [7]:
my_list = [2,8,5,6,9,4]


print (list(filter(lambda x: x % 3 == 0 and x % 5 != 0, my_list)))

[6, 9]